.Block{
    width: 150px;
    height: 150px;
    border: 2px solid white;
    background-size: cover;
    display: inline-block;
  }

.count1{
background-image: url('images/dot.jpg');
}

.count2{
    background-image: url('images/cross.png');
}

.Game{
background-image: url('images/space.avif');

}