.Block{
    width: 150px;
    height: 150px;
    border: 3.5px solid black;
    background-size: cover;
    display: inline-block;
  }

.count2{
background-image: url('images/dot.jpg');
}

.count1{
    background-image: url('images/cross.jpg');
}


.Game{
text-align: center;

}

.text{
  color: brown;
}